 </main>
  <footer class="main-footer">
  <div class="footer-container">
    
    <div class="footer-col brand-col">
      <h3 class="footer-logo">KingsField Academy</h3>
      <p class="footer-motto">Shaping Future Scholars Today.</p>
      <p class="footer-description">A premier educational institution in Edo State dedicated to academic excellence, leadership development, and holistic success.</p>
    </div>

    <div class="footer-col Links-col">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/academics">Academics</a></li>
        <li><a href="/campus-life">Campus Life</a></li>
      </ul>
    </div>

    <div class="footer-col Links-col">
      <h4>Enrollment</h4>
      <ul>
        <li><a href="/admission">Admission Process</a></li>
        <li><a href="/portal">Student Portal</a></li>
        <li><a href="/apply">Apply Now</a></li>
        <li><a href="#faq">FAQs</a></li>
      </ul>
    </div>

    <div class="footer-col contact-col">
      <h4>Contact Info</h4>
      <p class="footer-contact-item">
        <svg class="footer-svg" viewBox="0 0 24 24" xmlns="http://w3.org"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
        <span>Benin City, Edo State, Nigeria</span>
      </p>
      <p class="footer-contact-item">
        <svg class="footer-svg" viewBox="0 0 24 24" xmlns="http://w3.org"><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/></svg>
        <a href="tel:+2348102345678">+234 (810) 234 5678</a>
      </p>
      <p class="footer-contact-item">
        <svg class="footer-svg" viewBox="0 0 24 24" xmlns="http://w3.org"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/></svg>
        <a href="mailto:kingsfieldacademy@gmail.com">kingsfieldacademy@gmail.com</a>
      </p>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; <%= new Date().getFullYear() %> KingsField Academy. All Rights Reserved. Designed for Excellence.</p>
  </div>
</footer>


  <script src="/Javascript/homepage.js"></script>
</body>
</html>